* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

main {
    margin: 0 40px;
    display: flex;
    .BSOcounter {
        table {
            width: 200px;
            height: 150px;
            tr {
                width: 200px;
                td,th {
                    width: 25%;
                    font-size: 15px;
                }
                td {
                    border-radius: 100%;
                    border: #000 solid 1px;
                }
            }
        }
    }
}