* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
}

main {
    margin: 0 40px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    .gameprogress {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .BSOcounter {
            table {
                width: 250px;
                height: 200px;
                background-color: #111;
                padding: 20px;
                tr {
                    width: 100%;
                    td,th {
                        width: 25%;
                        font-size: 20px;
                        color: #fff;
                    }
                    td {
                        border-radius: 100%;
                        /* border: #fff solid 1px; */
                        background-color: grey;
                    }
                    .strike {
                        background-color: #FFF000;
                    }
                    .ball {
                        background-color: #01C414;
                    }
                    .out {
                        background-color: #EE0000;
                    }
                }
            }
        }
        .runnerStatus {
            table {
                width: 250px;
                height: 200px;
                background-color: #111;
                padding: 30px;
                tr {
                    width: 100%;
                    td , th {
                        width: calc(100%/3);
                        height: 50%;
                    }
                    th {
                        rotate: 45deg;
                        background-color: #ccc;
                    }
                    .runner {
                        background-color: #FFF000;
                    }
                }
            }
        }
    }
    .batterSelect {
        table {
            width: 600px;
            height: 600px;
            border-collapse: collapse;
            tr {
                width: 100%;
                td{
                    width: calc(100%/3);
                    height: calc(100%/3);
                    border: 1px solid #000;
                    &:hover{
                        background-color: #fe6060;
                    }
                }
            }
        }
    }
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}